/* *
{
  box-sizing: border-box;
}
body
{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
#root
{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  min-height: 100vh;
  margin: 0;
}
h3
{
  margin: 10px 0;
}
h6
{
  margin: 5px 0;
  text-transform: uppercase;
}
p
{
  font-size: 14px;
  line-height: 21px;
  text-align: center;
}
.card-container
{
  background-color: darkgrey;
  border-radius: 10px;
  box-shadow: 0px 10px 20px -10px black;
  color: white;
  padding-top: 30px;
  width: 350px;
  max-width: 100%;
  text-align: center;
  position: relative;
}
.pro
{
  color: darkgray;
background-color: red;
border-radius: 5px;
font-size: 14px;
font-weight: bold;
padding: 3px 7px;
position: absolute;
top: 30px;
left: 30px;
}
.img
{
  border: 3px solid white;
  border-radius: 50%;
  padding: 7px;
}
.buttons
{
  display: flex;
  justify-content: center;
  gap: 10px;
}
button.primary
{
  background-color: blue;
  color: white;
  border: 1px solid blue;
  border-radius: 3px;
  font-family: sans-serif;
  font-weight: 500;
  padding: 10px 25px;
}
button.primary-outline
{
  background-color: transparent;
}
.skills
{
  background-color: darkgrey;
  text-align: left;
  padding: 15px;
  margin-top: 15px;
}
.skills ul
{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.skills ul li
{
  border: 1px solid violet;
  display: inline-block;
  border-radius: 2px;
  padding: 7px;
  margin: 0 7px 7px 0;
  font-size: 12px;
}
.online
{
  background-color: greenyellow;
}
.offline
{
  background-color: orangered;
} */